
/*
* QUILL STYLING
*********************/

@import "~quill/dist/quill.core.css";

#editor {
    height: 580px;
    margin-left: 75px;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  div.ql-toolbar.ql-snow {
    background: white;
    z-index: 1;
    position: fixed;
    margin-left: 59px;
    margin-right: 100px;
    width: 100%;
    height: 75px;
    padding-top: 28px;
}  

#editor > div.ql-editor.ql-blank, #editor > div.ql-editor {
    /* border-left: 1px solid rgb(226, 226, 226);
    border-right: 1px solid rgb(226, 226, 226); */
    /* margin: 0px 260px;  */
    
    padding: 100px;
    padding-top: 100px;
    margin: 0 20%; 
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.25);
    margin-top: 105px;
}


/* @media only screen and (max-width: 1000px) {
      #editor > div.ql-editor.ql-blank{
        margin: 0 10%; 
        width: 1000px;
    }
    body > div.ql-toolbar.ql-snow{
        width: 1200px;
    }  
    
  } 
*/


  
