@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#quireLogo {
    transition: 0.4s;
}

#quireLogo:hover {
    transform: scale(1.06);
    opacity: 70%;
}

/* Top title / Favorite  */
#title-and-favorites{
    position: fixed;
    top: 5px;
    left: 80px;
    z-index: 2;
}

#title-input{
    border:1px solid rgba(153, 153, 153, 0.801);
    border-radius: 2px;
    padding: 3px;
}

#favorite-top-star{
    
}
#favorite-top-star:hover{
    color: rgb(55, 101, 255);
    cursor: pointer;

}

/* pop up */

.popup{
    position: fixed;
    background-color: rgba(0, 50, 88, 0.712);
    top: 33%;
    left: 33%;
    width: 400px;
    text-align: center;
    padding: 30px;
    color: white;
    z-index: 7;
}

.blur img{
    opacity: 0.7;
    z-index: 6;
    top: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
}


.exithidden{
    position: absolute;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    top: 5px;
    right: 5px;
    margin-right: 3px;
    
}
.exithidden:hover{
    color: gray;
}


div.mce-edit-area{
    padding: 5% 22%;
}



#closeWelcome{
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 3px;
    width: 100px;
    border-style: none;
}
#closeWelcome:hover{
    background-color: rgb(179, 179, 179);
}

.hidden{
    display: none;
}

/* Side bar */

#side-nav {
    z-index: 3;
    position: fixed;
    display: flex;
    /*position: fixed;*/
    float: left;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    height: 100vh;
    width: 75px;
    background-color: rgb(0, 83, 146);
}


.main-page{
    display: flex;
    height: 200px;
}

#side-nav-buttons button{
    display: block;
    width: 100%;
    height: 85px;
}

#text-form{
    margin-left: 83px;
}

#side-nav-logo img{
    width: 75px;
}

.logo-sidebar{
    font-size: 30px;
    background: rgb(185, 185, 185);
    color: white;
    border: none;
}

/* Buttons */

.button-sidebar{
    font-size: 25px;
    color: white;
    background: none;
    border: none;
}

.button-sidebar:hover{
    
    font-size: 26px;
    cursor: pointer;
}

.button-sidebar:focus {
    font-size: 30px;
}

button:focus {
    outline: none;
}

#bottom-buttons{
    margin-top: 10px;
    margin-left: 28%;
}

.note-add {
    font-size:30px;
    position: absolute;
    background: #005392;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    left: 90%;
    bottom: 5%;
    color: white;  
}

.favrotie-top{
    
}


.document{
    padding: 15px;
    margin: auto;
}

.document textarea{
    padding: 50px 80px;
}

@media screen and (max-width: 800px) {
    .popup {
        left: 20%;
    }
}

#editorContainer {
    width: 100%;
    margin: 0 auto auto;
    float: left;
    padding-top: 0;
}

.demoBtn { /*(temp)*/
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

#editorMsg {
    font-style: italic;
}


/*
* Side menu content
*********************/
#side-subnav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: rgb(230, 230, 230);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    transform: translateX(74px);
}

#side-subnav {
    position: fixed;
    float: left;
    height: 100vh;
}

#side-subnav > * {
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#side-subnav .title {
    font-size: 25px;
    padding: 5px;
}

#side-subnav .title,
#side-subnav .content {
    width: inherit;
}

#side-subnav a:hover {
    color: #f1f1f1;
}

#side-subnav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    #side-subnav {
        padding-top: 15px;
    }

    #side-subnav > * {
        font-size: 18px;
    }
}

.noteList .item {
    font-size: 20px;   
    padding: 10px;
    border:rgb(199, 199, 199) solid 1px;
    transition-duration: .3s;
}

.noteList .item:hover {
    background: #005392;
    color: white;
    cursor: pointer;
}


/* display part of note content in subnav */
.itemContent > * {
    display: none;
}

.itemContent > *:nth-child(2){
    display: block;
}

.note .meta {
    font-size: 10px;
    font-style: italic;
}

/* Themes */

.lightmodeTheme{

}

.darkModeTheme {
    
    background-color: rgb(49, 50, 59);
    color: white;
    
}

.nightModeTheme {
    background-color: rgba(167, 83, 52, 0.863);
    color: rgb(0, 0, 0);
    
}


.mce-panel{
    background: black;
    border: none;
}
body.mceContentBody { 
    background: #000 !important;  
    color:#000 !important;
 }
